%-*-Erlang-*-
{sub_dirs, ["apps/*"]}.

{erl_opts, [debug_info]}.

{cover_enabled, false}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.
{deps, [
        {seqbind,    ".*", {git, "git://github.com/spawngrid/seqbind.git", {branch,master}}},
        {types,      ".*", {git, "git://github.com/zkessin/types.git"}},
        {erlog,      ".*", {git, "git://github.com/zkessin/erlog.git",     {branch, "master"}}},
	{riak_core,  ".*", {git, "git://github.com/basho/riak_core.git"}},
	{webmachine, ".*", {git, "git://github.com/basho/webmachine.git"}},
	{jsx,        ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag,"v2.0.1"}}},
        {triq,       ".*", {git, "git://github.com/krestenkrab/triq.git",  {branch, master}}},
        {sync,       ".*", {git, "git://github.com/rustyio/sync.git",      {branch, master}}},
	{proper,     ".*", {git, "git://github.com/manopapad/proper.git"}},
	{edate,       ".*",     {git, "git://github.com/dweldon/edate.git"}},
        {uuid,        ".*",     {git, "git://github.com/okeuday/uuid.git"}},
	{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}}
       ]}.

{xref_warnings, true}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               exports_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
{erlydtl_opts, [
     {compiler_options, [report, return, debug_info]}
  ]}.
